<div ng-include="'views/partials/nav.html'" ng-controller="InfoController as ic"></div>
<div class="container">

  <div ng-repeat="sensor in ic.sensorObject.data">

    <!-- you need to always end the type of sensor with "door" so data below makes sense-->
    <h2>
      {{sensor.name}} is <span ng-if="sensor.isOpen">OPEN</span>
      <span ng-if="!sensor.isOpen">CLOSED</span>
    </h2>
    <h4>
      History:
    </h4>
      <div ng-repeat="h in sensor.history | orderBy:'-time' | limitTo:8">
        <span>
          <strong>Time:</strong> {{ h.time | date : "medium" }}
        </span>
        <span>
          <strong>Sensor Status:</strong> {{h.status}}
        </span>
      </div>
      <hr>
  </div>
</div>

 <!-- {{h.time}} -->
